/* Main layout */

html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

/* Plots */

.plot-container {
  width: 100%;
  flex: 1;
}


@media(min-width: 50em) {
  /* Large screens display plots side-by-side */
  .plot-container {
    display: flex;
    flex-flow: row nowrap;
  }
}

.plot-container .rf-plotly-wrapper {
  flex: 1 1 10%;
  position: relative;
  min-height: 20em;
}

.plot-container .rf-plotly-plot {
  position: absolute;
  width: 100%;
  height: 100%;
}

